<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HomeMangager.DAL.Properties.Connection.ConnectionDB"
            connectionString="Data Source=knoopsr.ddns.net,9210;Initial Catalog=HomeManager;Persist Security Info=True;User ID=sa;Password=jq2pBx8hETp6ZFrBe&amp;@%;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>